:root {
    --color--text: #C5EFCB;
    --background--text: #020402;
    --color--vet--ej: #758173;
    --color--vet--ej: #758173;
    --color--vet--ej: #C6DEC6;
}

:root {
    --color:#1C2321;
    --color:#7D98A1;
    --color:#5E6572;
    --color:#A9B4C2;
    --color:#EEF1EF;
}