html, body {
    width: 100%;
    height:100%;
  }

body {
    background: linear-gradient(-45deg, #382722, #170955, #257212, #660707);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
    padding:0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 85% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight:500;
}

.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box  input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
tr:hover {background-color: coral;}

label {
    display: none;
}

iframe {
    position: fixed;
    top:0;
    right: 0;
    width: calc(100em - 75em);   
    height: calc(100% - 75%);   
}
