@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
:root {
    --background-color: #020402;
    --color-text: #C5EFCB;
    --sidenav-text-color: #1C2321;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body {
    transition: background-color .5s;
}

main section {
    display: grid;
    grid-template-areas: 
    " t1 . b1 . t2"
    " . b2 . t3 ."
    " b3 . . . t4";
}

p { 
    grid-area: t3;
    
    color: var(--color-text);
}

/* The side navigation menu */
.sidenav {
    grid-area: t1;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--sidenav-text-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  span {
    font-size:30px;
    cursor:pointer;
    color: var(--color-hader-text);
  }