:root{
    --color-hader-text: #C5EFCB;
}

/* header har en rorelse på 0.5s */ 
header {
  transition: 0.5s;
  } 

/* header ul storlek och justering */
ul {
  text-align: center;
  font-size: 3rem; 
  margin: 0;  
  padding: 0;
}
/* li har display inline-block att kunna ha de i en rad */
  ul li {
  display: inline-block;
  margin-right: 2em;
}
 /* cursor pointer att kunna ligga crosen över li tagen  */ 
  li {
    color: var(--color-hader-text);
    font-size: 1em;
    cursor:pointer; 
  }

/* Sidornavigeringsmenyn */
.sidenav {
  height: 100%; /* 100 % full höjd  */
  width: 0; /* 0 bredd - ändra detta med JavaScript */
  position: fixed; /* Stanna i samma positon  */
  z-index: 1; /* att spanna på topen */
  top: 0; /* Håll sig på toppen  */
  left: 0;
  background-color: var(--sidenav-text-color); /* Black */
  overflow-x: hidden; /* Inaktivera horisontell rullning  */
  padding-top: 60px; /* Placera innehåll 60px från toppen  */
  transition: 0.5s; /* 0,5 sekunders övergångseffekt för att glida i sidanav */
}

/* Navigeringsmenyn länkar */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* När du för musen över navigeringslänkarna, ändra deras färg */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Placera och utforma stängningsknappen (översta högra hörnet) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style sidinnehåll - använd detta om du vill skjuta sidinnehållet åt höger när du öppnar sidnavigeringen */
#main {
  grid-column: 1;
  grid-row: 1;
  transition: margin-left .5s;
  padding: 1.8em 0;
  border: 3px solid transparent;
}



.button {
  cursor:pointer;
  color: var(--color-hader-text);
}
  
/* På mindre skärmar, där höjden är mindre än 450px, ändra stilen på sidanav (mindre utfyllnad och en mindre teckenstorlek) */
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* det gör webbsida responsiv genom att ändrar postionerna på saker att kunna webläsare hanterar på en mobil */
@media screen and (max-width: 880px) {
  ul {
    display: flex;
    flex-direction: column;
  }
  ul li {
    margin: 0;
  }
  #main {
    padding: 0;
    margin-top: 20px;
  }
}