:root{
    --color-hader-text: #C5EFCB;
}
header {
  transition: 0.5s;
  margin: 0;
  padding: 0;
  } 
ul {
  text-align: center;
  font-size: 3rem;   
}
  ul li {
  display: inline-block;
  margin-right: 2em;
}
  li {
    color: var(--color-hader-text);
    font-size: 1em;
    cursor:pointer; 
  }
  
